body {
  background-color: #cffffe;
}

.content {
  padding: 0 0 0;
}
/* cards */
.drawer-image {
  height: 100%;
}

.heading {
  font-family: "Manrope";
  font-weight: 700;
}

/* avatar */

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* popover social-icons */

  .popover-body {
    background-color: #343a40;
  }

  .social-icons {
    display: inline-block;
    padding: 1.5px;
  }

  .icons {
    display: inline-block;
    margin: 0 3px;
  }

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.attribution a {
  color: #3e52a3;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #343a40;
  }

  /* attribution */
  .attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 1.5rem;
    color: #f9f7d9;
  }

  .attribution a {
    color: #ebdc87;
  }
}
