body {
  background-color: #cffffe;
}

/* cards */
.drawer-image {
  height: 100%;
}

.heading {
  font-family: "Manrope";
  font-weight: 700;
}

/* avatar */

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.attribution a {
  color: #3e52a3;
}
